<div>
<div class="about">- האתר הוקם ע"י בן באשא וטל דבוש ובליווי והנחייה של ד"ר יעל נצר מאוניברסיטת בן-גוריון בנגב.</div>
<div class="about">- המידע נלקח מאתר <a href="http://museum.imj.org.il/artcenter/newsite/he/">מרכז מידע לאמנות ישראלית</a>.</div>
    <div class="about">
        - האתר הוקם במטרה ללמוד סביבות עבודה חדשות תוך תרומה לקהילה ע"י מתן סטטיסטיקות ומידע
        שנלקח מהאתר הנ"ל ומוצג לאחר עיבוד.
    </div>
    <div class="about">- השרת הינו שרת מבוסס Node.js
    - המידע עובד ע"י crawler שסרק את המידע מהאתר הנ"ל והופק ממנו כל מידע אפשרי עבור אמן מסויים,
        בין היתר: שם, עיר וארץ לידה, שנת לידה, מין, מידע כללי, תערוכות, לימודים והוראה.
        בשלב זה נעשה שימוש בביטויים רגולריים על מנת להפיק את המידע בצורה הרחבה ביותר.</div>
    <div class="about">- המידע שהופק נשמר בבסיס נתונים מבוסס mongoDB ונשמר ב Json.</div>
    <div class="about">- על בסיס הנתונים בוצעו מניפולציות להפקת מידע חדש מהמידע הקיים.
    עיקר המידע המוצג באתר בא להציג את הפער בין אמנים שנולדו באיזורים שונים: פריפריה, לא פריפריה וחו"ל.</div>
    <div class="about">- הנתונים מוצגים באתר באמצעות Angular.js.</div>
    <div class="about">- בסיס הנתונים שהופק וממנו נלקח המידע ניתן להורדה <a href="">כאן</a></div>
</div>