<div class="exhibit-stats">
    <h2 class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שמציגים בכל עיר לא בפריפריה
    </h2>
    <canvas id="bar3" class="chart chart-bar" chart-options="exhibitCtrl.graphOptions"
            chart-data="exhibitCtrl.data3" chart-labels="exhibitCtrl.labels3" chart-series="exhibitCtrl.series3">
    </canvas>
</div>

<div>
    <h2>ערים לא מהפריפריה שאמנים מהפריפריה הציגו בהן</h2>
    <div id="map_ex_canvas"></div>
</div>

<div class="exhibit-stats2">
    <h2 class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שמציגים בכל עיר בפריפריה
    </h2>
    <canvas id="bar4" class="chart chart-bar" chart-options="exhibitCtrl.graphOptions"
            chart-data="exhibitCtrl.data4" chart-labels="exhibitCtrl.labels4" chart-series="exhibitCtrl.series4">
    </canvas>
</div>

<div>
    <h2>ערים מהפריפריה שאמנים לא מהפריפריה הציגו בהן</h2>
    <div id="map_ex_canvas2"></div>
</div>
