<div class="exhibit-stats">
    <div class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שמציגים בכל עיר לא בפריפריה
    </div>
    <canvas id="bar3" class="chart chart-bar" chart-options="graphsCtrl.graphOptions"
            chart-data="graphsCtrl.data3" chart-labels="graphsCtrl.labels3" chart-series="graphsCtrl.series3">
    </canvas>
</div>


<div class="exhibit-stats2">
    <div class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שמציגים בכל עיר בפריפריה
    </div>
    <canvas id="bar4" class="chart chart-bar" chart-options="graphsCtrl.graphOptions"
            chart-data="graphsCtrl.data4" chart-labels="graphsCtrl.labels4" chart-series="graphsCtrl.series4">
    </canvas>
</div>
