<div>
    <h2> ערים בהם למדו האמנים </h2>
    <div id="map_canvas"></div>
</div>

<div class="exhibit-stats">
    <div class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שלמדו בכל עיר לא בפריפריה
    </div>
    <canvas id="bar3" class="chart chart-bar" chart-options="studyCtrl.graphOptions"
            chart-data="studyCtrl.data3" chart-labels="studyCtrl.labels3" chart-series="studyCtrl.series3">
    </canvas>
</div>


<div class="exhibit-stats2">
    <div class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שלמדו בכל עיר בפריפריה
    </div>
    <canvas id="bar4" class="chart chart-bar" chart-options="studyCtrl.graphOptions"
            chart-data="studyCtrl.data4" chart-labels="studyCtrl.labels4" chart-series="studyCtrl.series4">
    </canvas>
</div>