<div>
    <h2> ערים בהם לימדו האמנים </h2>
    <div id="map_canvas"></div>
</div>

<div class="exhibit-stats">
    <div class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שלימדו בכל עיר לא בפריפריה
    </div>
    <canvas id="bar3" class="chart chart-bar" chart-options="teachingCtrl.graphOptions"
            chart-data="teachingCtrl.data3" chart-labels="teachingCtrl.labels3" chart-series="teachingCtrl.series3">
    </canvas>
</div>


<div class="exhibit-stats2">
    <div class="">
        אחוז האמנים מהפריפריה\לא מהפריפריה\ מחו"ל שלימדו בכל עיר בפריפריה
    </div>
    <canvas id="bar4" class="chart chart-bar" chart-options="teachingCtrl.graphOptions"
            chart-data="teachingCtrl.data4" chart-labels="teachingCtrl.labels4" chart-series="teachingCtrl.series4">
    </canvas>
</div>